name: PR Workflow

on: [push]

jobs:
  php-unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build the docker-compose stack
        run: docker-compose -f docker-compose.ci.yaml up -d

      - name: Check running containers
        run: docker ps -a

      - name: Add permission
        run: docker exec -u root -t video-catalog-app chown -R www-data:www-data /var/www
      
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '30s'

      - name: Check logs
        run: docker logs -t video-catalog-app

      - name: Run key:generate
        run: docker exec -t video-catalog-app php /var/www/artisan key:generate

      - name: Run migrations
        run: docker exec -t video-catalog-app php /var/www/artisan migrate

      - name: Run PHPunit tests
        run: docker exec -t video-catalog-app php artisan test
   