name: PR Workflow

on: [push]

jobs:
  php-unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build the docker-compose stack
        run: docker-compose -f docker-compose.ci.yaml up -d

      - name: Check running containers
        run: docker ps -a

      - name: Add permission
        run: docker exec -u root -t video-catalog-app chown -R www-data:www-data /var/www

      - name: Remove composer.lock
        run: docker exec -u root -t video-catalog-app rm composer.lock

      - name: Run composer
        run: docker exec -t video-catalog-app composer install --no-scripts

      - name: Copy env
        run: docker exec -t video-catalog-app cp .env.example .env

      - name: Copy .env.testing
        run: docker exec -t video-catalog-app cp .env.testing.example .env.testing

      - name: Run key:generate
        run: docker exec -t video-catalog-app php /var/www/artisan key:generate

      - name: Run migrations
        run: docker exec -t video-catalog-app php /var/www/artisan migrate

      - name: Run PHPunit Feature tests
        run: docker exec -t video-catalog-app php artisan test --testsuite=Feature
      
      - name: Run PHPunit Unit tests
        run: docker exec -t video-catalog-app php artisan test --testsuite=Unit
   