name: PR Workflow

on:
  push:

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build the docker-compose stack
        run: docker-compose -f docker-compose.ci.yaml up -d

      - name: Check running containers
        run: docker ps -a

      - name: Add permission
        run: docker exec -u root -t video-catalog-app chown -R www-data:www-data /var/www

      - name: Run composer
        run: docker exec -t video-catalog-app composer install

      - name: Copy env
        run: docker exec -t video-catalog-app cp env.example .env

      - name: Copy .env.testing
        run: docker exec -t video-catalog-app cp env.testing.example .env.testing

      - name: Run key:generate
        run: docker exec -t video-catalog-app php /var/www/artisan key:generate

      - name: Run migrations
        run: docker exec -t video-catalog-app php /var/www/artisan migrate

      - name: Run PHPunit tests
        run: docker exec video-catalog-app php artisan tests
      
   