name: PR Workflow

on:
  push:

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build the docker-compose stack
        run: docker-compose -f docker-compose.ci.yaml up -d

      - name: Check running containers
        run: docker ps -a

      - name: Run PHPunit tests
        run: docker exec video-catalog-app php artisan tests
      
   